* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: 'Roboto', -apple-system, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo {
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	width: calc(100vw - 60px);
	max-width: 1050px;
	height: calc(100vh - 140px);
	transform: translate(-50%, -50%);
	box-shadow: 1px 2px 20px #f3f3f3;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	font-size: 14px;

	&__tasks {
		flex: 1;
		padding: 60px;
		overflow: auto;
	}

	.sidebar {
		background-color: #e5e5e5;
		width: 28%;
		max-width: 230px;
		height: calc(100% - 120px);
		padding: 60px 20px;
		overflow: auto;
	}
}

.button {
	background: #4dd599;
	border-radius: 4px;
	color: #ffffff;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;

	&:hover {
		background: darken($color: #4dd599, $amount: 6%);
	}

	&:active {
		background: darken($color: #4dd599, $amount: 10%);
	}
}

.field {
	background: #ffffff;
	border: 1px solid #efefef;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px 12px;
	width: 100%;

	&:focus {
		border-color: #dbdbdb;
	}
}

@media (max-width: 1000px) {
	.todo {
		width: calc(100vw - 40px);
		height: calc(100vh - 40px);
	}
}

@media (max-width: 600px) {
	.icon {
		opacity: 1;
	}

	.todo {
		display: flex;
		position: unset;
		box-sizing: border-box;
		left: 0;
		top: 0;
		width: 100%;
		max-width: auto;
		height: 100vh;
		transform: none;
		box-shadow: 1px 2px 20px #f3f3f3;
		border-radius: 10px;
		border: none;
		font-size: 14px;

		.sidebar {
			height: 100%;
			width: 35%;
			padding: 20px 5px;

			li {
				padding: 10px 5px;
			}
		}
		&__tasks {
			padding: 77px 10px 10px 10px;

			.tasks__title {
				padding-bottom: 10px;
				font-size: 26px;
			}

			.tasks__items {
				margin-top: 10px;

				h2 {
					font-size: 20px;
				}
			}
		}

		.button {
			padding: 10px;
		}
	}
}
