.tasks {
	flex: 1;

	&:not(:last-of-type) {
		padding-bottom: 40px;
	}

	&__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		color: #64c4ed;
		padding-bottom: 20px;
		border-bottom: 1px solid #f2f2f2;

		&:hover {
			img {
				opacity: 0.2;
			}
		}
	}

	&__items {
		margin-top: 30px;

		h2 {
			color: #c9d1d3;
			font-family: Montserrat;
			font-weight: bold;
			font-size: 22px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		$self: &;

		&:hover {
			img {
				opacity: 0.2;
			}
		}

		p {
			display: block;
			width: auto;
			margin-left: 15px;
			border: 0;
			font-size: 16px;
		}
		.actions {
			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 6px;
			cursor: pointer;
			margin-left: 15px;
		}
	}

	.icon {
		opacity: 0;
		margin-left: 14px;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		&:active {
			opacity: 1;
		}
	}

	.checkbox {
		input {
			display: none;
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid #e8e8e8;
			border-radius: 30px;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transition: background-color 0.15s ease-in-out,
				border-color 0.15s ease-in-out;

			svg {
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
				path {
					stroke: #f2f2f2;
				}
			}
		}

		@media (hover: hover) and (pointer: fine) {
			label:hover {
				background-color: #e8e8e8;
				border-color: #e8e8e8;
				svg {
					opacity: 1;
					path {
						stroke: #b2b2b2;
					}
				}
			}
		}

		input:checked + label {
			background-color: #4dd599;
			border-color: #4dd599;

			svg {
				opacity: 1;
				path {
					stroke: #fff;
				}
			}
		}
	}

	.task__add {
		li {
			padding: 0px;
		}
	}
}
